modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mach7-website: web"

[[workflows.workflow]]
name = "artifacts/mach7-website: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mach7-website run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_ROBOFLOW_WORKSPACE = "invasive-detctor"
EXPO_PUBLIC_ROBOFLOW_MODEL = "bike-lane-ankwj"
EXPO_PUBLIC_ROBOFLOW_VERSION = "1"
EXPO_PUBLIC_SUPABASE_URL = "https://hrahajcoglghlecnbosw.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyYWhhamNvZ2xnaGxlY25ib3N3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4ODAyNDQsImV4cCI6MjA4ODQ1NjI0NH0.HQ5_uWmmpv2q3eSlrkzSYYE2ZqmITxtF8CHRtX-sHO0"

[nix]
channel = "stable-25_05"
